body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo{
    width: 200px;
}

.page-subtitle{
    background-color:#fffbed;
    text-align: center;
    color: #107777;
    border-top: 1px solid rgb(255, 227, 142);
    width: 100%;
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 50%;
    color: black;
}

.main-container img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}

figcaption{
    text-align: center;
}

.link{
    width: 50%;
    border-left: 1px solid #b5460f;
}

.link h4{
    margin: 0;
    padding: 0;
    color: #b5460f;
}

.ingredients{
    width: 50%;
    line-height: 0 auto;
}

.ingredients h2{
    border-bottom: 1px solid #107777
}

.bottomSite{
    width: 50%;
}

